@import url('https://fonts.googleapis.com/css2?family=Muli');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

html{
    width: 100vw;
    display: flex;
    justify-content:center;
}
body{
    padding-top:54px;
    margin:0;
    background-color:#F5F5F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    min-height: calc(100vh - 54px);
}
#dashboard{
    margin:0;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1200px;
    text-align: center;
    height: 100%;
}
nav{
    width:100vw;
    height:50px;
    position:fixed;
    top:0;
    left:0;
    z-index: 20;
    background-color:#005288;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "XT2 logo switch";
    grid-template-rows: 50px ;
    /*justify-content: space-evenly;*/
    box-shadow: 0 4px 4px rgba(1,1,1,0.3);
}
nav p{
    text-align:center;
    grid-area:XT2;
}
nav button{
    padding:0;
    grid-area:switch;
}
nav figure{
    margin:0;
    display: flex;
    align-items: center;
    justify-content:center;
    grid-area:logo;
}
img#logo{
    max-height:25px;
    margin-bottom: 9px;
    margin-left:10px;
}

section{
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;*/

    background-color: #E1E2E1;
    margin:5px 0;
    border-radius:10px;
    max-width: 400px;
    /*min-height: 250px;*/
    width: 95vw;
    box-shadow: 0 2px 4px rgba(1,1,1,0.3);
    align-content: center;
}
section canvas {
    /*background-image: url("https://i.redd.it/fhd06mc02q911.png");*/
    position: relative;
}
#modesSwitch{
    width:36px;
}
button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    outline:none;
}
.counter{
    font-size:1.5em;
    font-weight: 900;
    color:#121212;/*colordark1*/
    font-family: 'Lalezar', cursive;
}
p{
    text-align:center;
    font-family: 'Muli', sans-serif;
}
h2{
    text-align:center;
    font-family: 'Lalezar', cursive;
    font-size:2em;
    margin:10px 0 0 0;
}
footer{
    z-index: 20;
    background-color:#005288;
    /*justify-content: space-evenly;*/
    width:100vw;
    box-shadow: 0 2px 4px rgba(1,1,1,0.3);
    /*align-self:flex-end; werkt niet*/
}
@media screen and (min-width: 600px)  and (max-width: 1023px){ /*charts schalen niet goed daarvor*/
    /*body {
        background-color: hotpink;
    }*/
    section{
        max-width: 48%;
        margin:5px;
    }
}
@media screen and (min-width: 1024px)  { /*charts schalen niet goed daarvoor heb hier ook geen max waarde nodig omdat er geen overeenkomende conflicten zijn*/
    /*body {
        background-color: limegreen;
    }*/
    section{
        max-width: 32%;
        margin:5px;
    }
}
@media screen and (min-width: 1200px) {
    /*navigatiebalk fix*/
    nav {
        grid-template-columns: auto 400px 400px 400px auto;
        grid-template-areas: ". XT2 logo switch .";
    }
}
